.filter-sort {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ebebeb;
    height: 10vh;
  }
  
  .filter-sort span {
    margin-right: 0.3rem;
    
  }
  
  .filter-sort select {
    height: 4vh;
    margin-right: 1.5rem;
    height: 2.68vw !important;
  }
  
  .filter-select {
    width: 15vw !important;
    height: 3vw !important;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 20px;
    font-family: 'Poppins',sans-serif;
    font-weight: 10;
    font-size: 15px;
    letter-spacing: 0.5px;
    cursor: pointer;
    background: rgb(207, 206, 206);
    color: #000000;
    outline: none;
    
  }
  
  select::-ms-expand{
    display: none;
}
select:hover{
    border: 3px solid #ddc80b;
}
select option{
    background-color: #ff0067;
    letter-spacing: 1.2px;
    font-weight: 400;
    font-size: 18px;
}
.selected{
    display: none;
}

  .recipes-home {
    
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
  }

  @media (max-width: 768px) {
    .recipes-home{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .pagination {
    margin-top: 10px;
    display: flex;
    position: absolute;
    transform: translate(122%,300%);
  }

  .num-page {
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    padding: 0 20px;
    color: #5c5959;
  }
  
  .div_btn {
		display: flex;
	}
		.btn_page {
	font-size: 1.9rem;
  padding: 0.6rem 3rem;
  border: none;
  background: #979696;
  color: rgb(68, 67, 67);
  transition: 0.2s ease-out; 
		}
			.btn_page:hover {
				box-shadow: 0 0 5px 0 #1ee90c;
			}
			.btn_page:active {
				outline: 0;
				transform: translateY(3px);
			}

  
  .loading {
    width: 10vw;
  }
  
  .rotated{
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotation {
    0% {
      transform:rotateY(0deg);
    }
    100% {
      transform:rotateY(360deg);
    }
  }
  